.Header {
    color: black;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: RobotoMono;
    padding: 0 120px;
}

.Logo {
    font-family: RobotoMono sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}