.Header {
    color: black;
    border-bottom: 1px solid black;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: RobotoMono;
    padding: 20px 30px;
}

.Logo {
    font-family: RobotoMono sans-serif;
}