.LoginForm {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
}


.FormGroup {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 350px;
}

.InvalidFeedback {
  position: absolute;
  color: red;
  left: 29%;
  bottom: -18px;
}

.Button {
  margin: 0 0 0 auto;
}

.FormInput {
  width: 244px;
}